// Kolory
$background-color: #F0F1F1;
$text-color: #3C3C3C;

// Czcionki
$font-base: 'Open Sans', sans-serif;
$font-size-large: 38px;
$font-size-medium: 30px;
$line-height-medium: 54px;

.homeAbout {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: $background-color;
  height: 935px;
  color: $text-color;
  justify-content: center;

  .container {
    width: 50rem;
    display: flex;
    flex-direction: column;
    padding: 150px;
    text-align: center;
    row-gap: 20px;

    .decoration-img {
      width: 253px;
      align-self: center;
    }

    .signature-img {
      width: 148px;
      height: 210px;
      align-self: flex-end;
    }

    h1 {
      font: normal normal normal $font-size-large $font-base;
    }

    p {
      font: normal normal normal $font-size-medium/$line-height-medium $font-base;
    }
  }

  .people-img {
    height: 935px;
    max-width: 942px;
    object-fit: cover;
    flex: 1;
  }
}
