.HomeThreeColumns {
  width: 100%;
  height: 384px;
  background-image: url('src/assets/assets/3 Columns Background.png');
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.HomeThreeColumnsComponent {
  width: 334px;
  height: 252px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.HomeThreeColumnsComponent h1 {
  margin: 0;
  font: normal normal 300 90px Open Sans;
  color: #5E5322;

}

.HomeThreeColumnsComponent a {
  font: normal normal normal 18px Open Sans;
  letter-spacing: -0.36px;
  color: #3C3C3C;
}

.HomeThreeColumnsComponent p {
  font: normal normal 300 16px Merriweather;
  letter-spacing: -0.32px;
  color: #3C3C3C;
}